$goldenFeatherBlue: #263032;
$goldenFeatherGold: #C59B5F;
$goldenFeatherWhite:#FDF9F6;

.gf-white {
    color: $goldenFeatherWhite
  }

.sidebarlink{
    background-color: $goldenFeatherBlue;
    color: $goldenFeatherWhite!important;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &:hover{
        background-color: $goldenFeatherGold;
        color: $goldenFeatherBlue!important;
    }
}

.btn-reserve {
    background-color: $goldenFeatherGold;
    color: $goldenFeatherWhite!important;
    border: 1px solid $goldenFeatherGold;

    &:hover{
        background-color: $goldenFeatherBlue;
        color: $goldenFeatherGold!important;
    }
}

.cpointer {
    cursor: pointer;
}

.reservation-tab-active {
    color: $goldenFeatherWhite!important;
    background-color: $goldenFeatherGold!important;
    border-bottom: 1px solid $goldenFeatherGold!important;
}

.reservation-tab-inactive {
    color: $goldenFeatherBlue!important;
}


/*************TABLAS*****************/

table thead tr {
    background: $goldenFeatherBlue;
} 

table thead tr th {
    color: $goldenFeatherWhite;
}

table tbody tr th a:hover {
    color: $goldenFeatherBlue;
}




/*************PAGINDAOR*************/

#pagination button:hover{
    background: $goldenFeatherGold;
    color: $goldenFeatherBlue;
}

#pagination li color {
    color: $goldenFeatherGold!important;
}



/**************RESERVAS ID ************/

.reservationID, .eventID, .userID {
    border: 1px solid $goldenFeatherGold;
    padding: 1em;
}

.reservationID ul li, .eventID ul li, .userID ul li {
    list-style: square;
}

.reservationID ul li a, .eventID ul li a, .userID ul li a {
    color : $goldenFeatherBlue
}


/**************EVENTS****************/

.event-card {
    border: 1px solid $goldenFeatherGold
}