*{
    margin: 0;
    padding: 0;
}

$goldenFeatherBlue: #263032;
$goldenFeatherGold: #C59B5F;
$goldenFeatherWhite:#FDF9F6;

#landing-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.masthead{
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    background: 
    linear-gradient(90deg, rgba(38,48,50,0.7) 100%, rgba(38,48,50,1) 50%),
    url('../../public/assets/img/frontdesk.jpg') no-repeat bottom center;
    

}


#welcome {
    text-align: center;
    align-self: center;
}



#servicesData {
    display: flex;
    align-content: center;
    justify-content: center;
}

.golden-text{
    color: $goldenFeatherGold
}

.btn-gold {
    background-color: $goldenFeatherGold!important;
    color: #FDF9F6!important;
}

#about {
    width: 100%;
    min-height: 100vh;
    margin-top: 5em;
}

#about p {
    text-align: left;
    align-self: center;
}

.goldenPattern {
    height: 50vh;
    width: 100%;
    background:
    url('../../public/assets/img/pattern3.png') repeat center center fixed;
    clear: both;
}

#services {
    width: 100%;
    min-height: 100vh;
}


#servicesData h2, #about h2 {
    font-size: 3em;
    color: $goldenFeatherGold;
    text-align: center;
}

#servicesData h3, #about h3 {
    font-size: 2em;
    text-align: center;
}



#contact {
    width: 100%;
    height: 100vh;
    background: #263032;
    color: #FDF9F6;
    
}


#contact-data {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

